[submodule "thirdparty/polly"]
	path = thirdparty/polly
	url = https://github.com/ruslo/polly.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
